extends layout

block head
  title Sources

block body
    h1 Sources
    div.table
      div.row.header
        div.col Source
        div.col Borrower
        div.col Area
        div.col Borrowed
      for source in sources
        - var loan = source.loan
        - var operation = 'check-out'
        if loan.borrowed
          - operation = 'check-in'
        form(method='POST', action='/loans/'+loan.id+'/'+operation)
          div.row
            div.name-container.col=source.name
            div.borrower-container.col
              if loan.borrowed
                span= loan.borrower
              else
                input(name='borrower', value=loan.borrower)
            div.area-container.col
              if loan.borrowed
                span= loan.area
              else
                input(name='area', value=loan.area)
            div.borrowed-container.col
              if loan.borrowed
                // input(name='borrowed', value=loan.borrowedFormatted)
                span= loan.borrowedFormatted
            div.save-container.col
              if loan.borrowed
                input(type='submit', value='Check In')
              else
                input(type='submit', value='Check Out')
    form(method='POST', action='/sources')
      label New source name: 
        input(name='name')
      input(type='submit')
