extends layout

block head
  title Sources

block body
  #content
    h1 Sources
    ul
      li
        a(href='/') Index
      li
        a(href='/loans') Loans
    if error
      div.error= error
    div.table
      div.row.header
        div.col.name-container Source
        div.col.borrower-container Loaned To
        div.col.area-container Area
        div.col.borrowed-container Time Out
      for source in sources
        - var loan = source.loan
        - var operation = 'check-out'
        if loan.borrowed
          - operation = 'check-in'
        form.source_row(method='POST', action='/loans/'+loan.id+'/'+operation)
          div.row
            div.name-container.col=source.name
            div.col.borrower-container
              if loan.borrowed
                span= loan.borrower
              else
                input(name='borrower', value=loan.borrower)
            div.col.area-container
              if loan.borrowed
                span= loan.area
              else
                input(name='area', value=loan.area)
            div.col.borrowed-container
              if loan.borrowed
                span= loan.borrowedFormatted
            div.col.save-container
              if loan.borrowed
                input.table-button(type='submit', value='Check In')
              else
                input.table-button(type='submit', value='Check Out')
              if user.admin
                input.delete-button.table-button(type='button', value='Delete', action='/sources/'+source.id)
  #forms  
    if user.admin
      form(method='POST', action='/sources')
        input(name='name' placeholder='New Source Name')
        input(type='submit')
