extends layout

block head
  title Sources

block body
  h1 Sources
  if error
    div.error= error
  div.table
    div.row.header
      div.col.name-container Source
      div.col.borrower-container Borrower
      div.col.area-container Area
      div.col.borrowed-container Borrowed
    for source in sources
      - var loan = source.loan
      - var operation = 'check-out'
      if loan.borrowed
        - operation = 'check-in'
      form(method='POST', action='/loans/'+loan.id+'/'+operation)
        div.row
          div.name-container.col=source.name
          div.col.borrower-container
            if loan.borrowed
              span= loan.borrower
            else
              input(name='borrower', value=loan.borrower)
          div.col.area-container
            if loan.borrowed
              span= loan.area
            else
              input(name='area', value=loan.area)
          div.col.borrowed-container
            if loan.borrowed
              span= loan.borrowedFormatted
          div.col.save-container
            if loan.borrowed
              input.table-button(type='submit', value='Check In')
            else
              input.table-button(type='submit', value='Check Out')
  if user.admin
    form(method='POST', action='/sources')
      label New source name: 
        input(name='name')
      input(type='submit')
